<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218151181176-tjo9786ee0fkvkj28uvr7q3j5lm7k8fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218151181176-tjo9786ee0fkvkj28uvr7q3j5lm7k8fl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>218151181176-1i03b6gkngbi8lsljedts96pgofegqqr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAR6flFIburbAMWtvmE26RJMSDq6BuGH_8</string>
	<key>GCM_SENDER_ID</key>
	<string>218151181176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.secondhand</string>
	<key>PROJECT_ID</key>
	<string>sientete-en-casa</string>
	<key>STORAGE_BUCKET</key>
	<string>sientete-en-casa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218151181176:ios:0dd3f1ee19c5ec97abc68d</string>
</dict>
</plist>